---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Col from '../../ui/Col.astro'
import Row from '../../ui/Row.astro'
import Section from '../../ui/Section.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Intentionally <strong>code switch</strong>, effortlessly </h2>
			<p class="pb-0 text-lg">
				Say it for everyone, then add a bit that only your target audience
				can translate. Technology assures perfect fidelity back to English.
			</p>
			<p class="pb-0 text-base">The cute Zürcherin adding Romansh words when Germans enter in the room.</p>
			<p class="pb-0 text-base">Singaporean talk like Singlish-Malay in front of Chinese cousins.</p>
			<p class="pb-0 text-base">Enabling grown adults to be their inner teenager with online frens.</p>
		</Col>
	</Row>
	<Row>
		<Col span="4">
			<Card
				title="All your data are belong to you."
				subtitle="Decode everything you have ever submitted via Whistles Protocol. Optionally download it for self ownership."
				image={feature05}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Visualize channel members' permissions "
				subtitle="Easily organize who can read what, where, when. "
				image={feature02}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Share information with your tribe, in public"
				subtitle="Something is clearly happening, but what the what?"
				image={feature01}
				link="/features"
			/>
		</Col>
	</Row>
</Section>
