AUTH_SECRET=<my-auth-secret>
YOGA_READ_TOKEN=<my-yoga-read-token>
SITE=http://localhost:3000
UPSTASH_REDIS_REST_URL="https://devoted-zebra-55925.upstash.io"
UPSTASH_REDIS_REST_READ_ONLY_TOKEN="********"