---
export const prerender = false;

// Components
// - UI
// - Layout
import type { Session } from '@auth/core/types';
import { Auth, SignOut } from 'auth-astro/components';
import Siwf from './Siwf';

// Props
type Props = {
	id?: string
	title?: string
	text?: string
	classes?: string
}
const { id, title, text, classes } = Astro.props
---

<div>
	<Auth>
		{
			(session: Session) => {
				return session ? <SignOut><strong>Logout</strong></SignOut> : <Siwf client:only="react" />}
			}
		}
	</Auth>
</div>
