---
export const prerender = false;

// Components
// - UI
import { Image } from 'astro:assets';
// - Layout
import type { Session } from '@auth/core/types';
import { Auth, SignOut } from 'auth-astro/components';
import Siwf from './Siwf';

// Props
type Props = {
	id?: string
	title?: string
	text?: string
	classes?: string
}
---

<div>
	<Auth>
		{
			(session: Session) => {
				return <>
				{session ? 'Logged in as ' + session.user?.name + '!' + session.user?.email : 'Not logged in'} 
				<br />
				<br />
				{session?.user && <Image src={session.user.image ?? ""} alt={session.user.name ?? null} height="64" width="64" />} 
				 <br />
				{session ? <SignOut><strong>Logout</strong></SignOut> : <Siwf client:only="react" />}
				</>
			}
		}
	</Auth>
</div>
