---
// Basic Dark Call To Action section
// ------------
// Description: A centered call to action section that contains: a title, text, background image, notification and a button.

import { Image } from "astro:assets";
import Button from "../../ui/Button.astro";
// - UI
import CTA from "../../ui/CTA.astro";
import ChipNotification from "../../ui/ChipNotification.astro";
import Col from "../../ui/Col.astro";
import Highlight from "../../ui/Highlight.astro";
import Row from "../../ui/Row.astro";
// Components
// - Layout
import Section from "../../ui/Section.astro";

import badge from "../../../assets/badge.svg";
// Content
import ctaImage from "../../../assets/cta-dark-bg.webp";
---

<Section>
	<Row>
		<Col span="1" />
		<Col span="10">
			<CTA
				title="Join Over 3+ Satisfied Users!"
				text="Discover why dozens of DAU trust our platform to yammer away to their own followings without spamming others. Get started today and see the difference for yourself!"
				mode="dark"
				bg={ctaImage}
			>
				<ChipNotification radius="rounded-full" classes="mb-6 box">
					<Image src={badge} alt="Product of the Year" class="h-12 w-12" slot="button" />
					#42 Product of the Year, <Highlight classes="ml-2">Product Hunt</Highlight>
				</ChipNotification>
				<Button size="lg" style="primary" modal="CTA"> Get started now! </Button>
			</CTA>
			<Col span="1" />
		</Col>
	</Row>
</Section>
