---
export const prerender = false;

// Components
// - UI
import JustHero from "../components/blocks/hero/JustHero.astro";
import AuthBlock from "../components/blocks/modal/AuthBlock.astro";
// - Layout
import Layout from "../layouts/Layout.astro";
// - SEO
const SEO = {
	title: "SassyHash 💅 |Leaderboard",
	description: "See the leaderboard for SassyHash.",
};
// - Page Header
const header = {
	title: "Leaderboard",
	text: "Weekly contest to elevate the sassiest hashes.",
};
---

<Layout title={SEO.title} description={SEO.description}>
	<JustHero
		title={header.title}
		text={header.text}
		id="contact"
		classes="bg-neutral-50 dark:bg-neutral-950/80"
	>
	<div>This page has moved to the <a href="https://gib-rewards.artlu.xyz" target="_blank" class="text-emphasis">Frame V2</a></div>
	<span class="text-emphasis text-xs">as of 
		{new Date().toLocaleDateString('en-US', {timeZone: 'America/New_York'}).split(' ')[0]}
	</span> 
	<hr />
	<AuthBlock />	
	<hr />
	</JustHero>
</Layout>
