---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import JustHero from '../components/blocks/hero/JustHero.astro'
import Button from '../components/ui/Button.astro'
import { Icon } from 'astro-icon/components'

// Content
// - SEO
const SEO = {
	title: 'Whistles | Manage My Channels',
	description: 'Manage Channels owned by me on Warpcast'
}
// - Page Header
const header = {
	title: 'Manage <strong>My</strong> Channels.',
	text: 'Enable and Disable channels for Whistles Protocol.'
}
---

<Layout title={SEO.title} description={SEO.description}>
	<JustHero
		title={header.title}
		text={header.text}
		id="contact"
		classes="bg-neutral-50 dark:bg-neutral-950/80"
	>
		<ul>
			<li>&bull;&nbsp;Read Keccack256 Cast Action on any cast in your channel.</li>
			<li>&bull;&nbsp;Cast action will call up a frame, with a special button visible to channel owners only.</li>
			<li>&bull;&nbsp;Click button to enable or disable your channel.</li>
		</ul>
		<Button 
			style="primary"
			size="lg"
			link="https://warpcast.com/~/add-cast-action?url=https%3A%2F%2Fkeccak256-composer-action.artlu.workers.dev%2Fcast-action"  
		 	external="squares-plus"
		>
		Enable Whistles Protocol
		</Button>
	</JustHero>
</Layout>
