---
export const prerender = false;

// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import JustHero from '../components/blocks/hero/JustHero.astro'
// Session
import { getSession } from 'auth-astro/server'

// Content
// - SEO
const SEO = {
	title: 'Whistles | Manage My Channels',
	description: 'Manage Channels owned by me on Warpcast'
}
// - Page Header
const header = {
	title: 'Manage <strong>My</strong> Channels.',
	text: 'How To Enable and Disable channels for Whistles Protocol.'
}

// - Session
const session = await getSession(Astro.request)
---

<Layout title={SEO.title} description={SEO.description}>
	<JustHero
		title={header.title}
		text={header.text}
		id="contact"
		classes="bg-neutral-50 dark:bg-neutral-950/80"
	>
		{session ? 'Logged in as ' + session.user?.name : 'Not logged in'}

		<p>
			Call the Read Keccack256 Cast Action on any cast in your channel. Cast action will call up
			a frame, with a special button for channel owners only. Click the button to enable or disable
			Whistles Protocol for your channel.
		</p>
	</JustHero>
</Layout>
