---
// Home page CTA Section
// ------------
// Description: A centered call to action section that contains: a title, text, a user review snippet, a button and a image.

// - UI
import { Image } from "astro:assets";
import AvatarGroup from "../../ui/AvatarGroup.astro";
import Button from "../../ui/Button.astro";
import ChipNotification from "../../ui/ChipNotification.astro";
// Components
// - Layout
import Col from "../../ui/Col.astro";
import Row from "../../ui/Row.astro";
import Section from "../../ui/Section.astro";

// Content
// - Hero Image
// import heroImage from '../../../assets/hero-01.png'
// - Avatars
import user1 from "../../../assets/avatars/avatar-01.webp";
import user2 from "../../../assets/avatars/avatar-02.webp";
import user3 from "../../../assets/avatars/avatar-03.webp";
const avatars = [
	{ image: { src: user1.src, alt: "user name" }, link: "/" },
	{ image: { src: user2.src, alt: "user name" }, link: "/" },
	{ image: { src: user3.src, alt: "user name" }, link: "/" },
];
---

<Section id="intro" padding="top" classes="bg-neutral-50 dark:bg-neutral-900">
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
			<ChipNotification radius="rounded-full" classes="mb-6">
				<strong>3+</strong> satisfied customers
				<AvatarGroup avatars={avatars} radius="rounded-full" slot="button" />
			</ChipNotification>
			<h1>Be private <strong>in public</strong>.</h1>

			<p class="pb-0 text-lg">
				Say it for everyone, then add some IYKYK. Technology assures perfect fidelity with your
				original words.
			</p>
			<Button
				size="lg"
				link="https://warpcast.com/~/developers/composer-actions?name=keccak-256&postUrl=https%3A%2F%2Fkeccak256-composer-action.artlu.workers.dev"
				external="chat-bubble-left-ellipsis">Composer Action</Button
			>
			<Button
				size="lg"
				link="https://warpcast.com/~/add-cast-action?url=https%3A%2F%2Fkeccak256-composer-action.artlu.workers.dev%2Fcast-action"
				external="squares-plus">Cast Action</Button
			>
			<div class="mt-5 flex justify-center">
				<Image
					src={'https://r2.fc-clients-cast-action.artlu.xyz/qr-install-keccak256-composer-action.png'}
					alt={'QR Code'}
					height="200"
					width="200"
				/>
			</div>
			<p class="text-md my-2 pb-0">
				Scan me with <a href="https://recaster.org" target="_blank" rel="noopener noreferrer"
					>Recaster</a
				> to launch as Mini-App.
			</p>
			<p class="text-md my-2 pb-0">
				Independent user-written
				<a
					href="https://warpcast.com/hankmoody/0x588598b1"
					target="_blank"
					rel="noopener noreferrer"
				>
					intro cast
				</a> + 
			 <a
				href="https://paragraph.xyz/@hankmoody/how-to-decode-and-encode-messages"
				target="_blank"
				rel="noopener noreferrer"
			>
				mini-tutorial
			</a> (<i>3 min read with screenshots</i>). 
			</p>
		</Col>
		<Col span="2" />
		<Col span="2" />
		<!-- <Col span="8">
			<Image
				src={heroImage}
				alt="SassyHash. The decentralized protocol for whistling"
				class="translate-y-8 shadow-2xl shadow-neutral-200 dark:shadow-neutral-950"
				format="webp"
			/>
		</Col> -->
		<Col span="2" />
	</Row>
</Section>
