---
// Home page CTA Section
// ------------
// Description: A centered call to action section that contains: a title, text, a user review snippet, a button and a image.

// Components
// - Layout
import Col from '../../ui/Col.astro'
import Row from '../../ui/Row.astro'
import Section from '../../ui/Section.astro'
// - UI
import { Image } from 'astro:assets'
import AvatarGroup from '../../ui/AvatarGroup.astro'
import Button from '../../ui/Button.astro'
import ChipNotification from '../../ui/ChipNotification.astro'

// Content
// - Hero Image
import heroImage from '../../../assets/hero-01.png'
// - Avatars
import user1 from '../../../assets/avatars/avatar-01.webp'
import user2 from '../../../assets/avatars/avatar-02.webp'
import user3 from '../../../assets/avatars/avatar-03.webp'
const avatars = [
	{ image: { src: user1.src, alt: 'user name' }, link: '/' },
	{ image: { src: user2.src, alt: 'user name' }, link: '/' },
	{ image: { src: user3.src, alt: 'user name' }, link: '/' }
]
---

<Section id="intro" padding="top" classes="bg-neutral-50 dark:bg-neutral-900">
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
			<ChipNotification radius="rounded-full" classes="mb-6">
				<strong>3+</strong> satisfied customers
				<AvatarGroup avatars={avatars} radius="rounded-full" slot="button" />
			</ChipNotification>
			<h1>Private conversations <strong>in public</strong>.</h1>

			<p class="pb-0 text-lg">
				Like giving language module brain implants to overlapping friend groups
			</p>
			<Button size="lg" link="/">Composer Action</Button>
			<Button size="sm" link="/">Cast Action</Button>
		</Col>
		<Col span="2" />
		<Col span="2" />
		<Col span="8">
			<Image
				src={heroImage}
				alt="Whistles. The decentralized protocol for whistling"
				class="translate-y-8 shadow-2xl shadow-neutral-200 dark:shadow-neutral-950"
				format="webp"
			/></Col
		>
		<Col span="2" />
	</Row>
</Section>
