---
// Home page CTA Section
// ------------
// Description: A centered call to action section that contains: a title, text, a user review snippet, a button and a image.

// - UI
import { Image } from "astro:assets";
import Button from "../../ui/Button.astro";
// Components
// - Layout
import Col from "../../ui/Col.astro";
import Row from "../../ui/Row.astro";
import Section from "../../ui/Section.astro";

// - Hero Image
import FarcasterLogo from "../../../assets/logos/farcaster-logo.svg";
---

<Section id="intro" padding="both" classes="bg-neutral-50 dark:bg-neutral-900">
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
			<h1>Be private <strong>in public</strong>.</h1>

			<p class="text-md my-8 pb-0">
			<Button
				size="lg"
				link="https://warpcast.com/~/channel/p2p"
				classes="bg-red-600 hover:bg-red-700 text-white font-bold text-xl px-8 py-4 transform hover:scale-105 transition-all"
			>
			Warpcast Channel: /p2p
			<Image src={FarcasterLogo} alt="Farcaster Logo" width="20" height="20" />
			</Button>
			<br /><br />
			<Button
				size="lg"
				link="https://warpcast.com/~/developers/composer-actions?name=keccak-256&postUrl=https%3A%2F%2Fkeccak256-composer-action.artlu.workers.dev"
				external="chat-bubble-left-ellipsis">Composer Action</Button
			>
			<Button
				size="lg"
				link="https://warpcast.com/~/add-cast-action?url=https%3A%2F%2Fkeccak256-composer-action.artlu.workers.dev%2Fcast-action"
				external="squares-plus">Cast Action</Button
			>
			</p>
			<p class="text-md my-2 pb-0">
				or, as a <a href="https://recaster.org" target="_blank" rel="noopener noreferrer"
					>Recaster</a
				> Featured Mini-App.
			</p>
			<p class="text-md my-8 pb-0">

			 <a
				href="https://paragraph.xyz/@hankmoody/how-to-decode-and-encode-messages"
				target="_blank"
				rel="noopener noreferrer"
			>
				 How To Decode and Encode Messages
			</a> 
			<br />
			and 
			<br />
			 <a
				href="https://paragraph.xyz/@hankmoody/how-to-participate-in-sassy-%F0%9F%92%85-rewards"
				target="_blank"
				rel="noopener noreferrer"
			>
				How To Participate in SassyHash 💅 Rewards
			</a>

			<br />
			<br />

			<Button
				size="lg"
				link="https://warpcast.com/~/frames/launch?domain=gib-rewards.artlu.xyz"
				classes="bg-red-600 hover:bg-red-700 text-white font-bold text-xl px-8 py-4 transform hover:scale-105 transition-all"
				external="squares-plus"
			>
			Gib Rewards Frame
			</Button>
			
			</p>
		</Col>
		<Col span="2" />
		<Col span="2" />
		<Col span="2" />
	</Row>
</Section>
