---
// Farcaster Embed
// ------------

import { FarcasterEmbed } from "react-farcaster-embed/dist/client";

// Props
type Props = {
	username: string;
	hash: string;
};
const {
	username,
	hash,
} = Astro.props;
---
<div class="w-full max-w-sm md:max-w-md lg:max-w-lg">
	<FarcasterEmbed
		username={username}
		hash={hash}
		client:load
	/>
</div>